body {
    background-color: #8ae3e3;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 20px;
    border-color: grey;
    width: 5%;
}

h1, h3{
    color: rgb(183, 43, 43);
}